@model Futon.Models.ViewHome
@using Futon.Models
@{
    ViewBag.Title = "Home Page";
}

<!-- Slider Area -->
<section id="slider-area">
    <div class="container">
        <div class="owl-carousel slider-active owl-theme">

            @foreach (var slide in Model.Slides)
            {
                <a href="@slide.Url">
                    <div class="single-slider bg-img " style="background-image:url(../Uploads/Slides/@slide.Photo); ">
                        <div class="slider-content">
                            <h1 class="animated">@slide.Slogan</h1>
                            <h2 class="animated">@slide.Title</h2>
                            <p class="animated">
                                @slide.Text
                            </p>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</section>
<!-- End Slider Area -->
<!-- Banner area -->
<section class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4 col-12">
                <div class="single-banner">
                    <div class="overlay"></div>
                    <div class="img">
                        <img src="~/Uploads/@Model.Adds.Where(a => a.LocationId == 1).FirstOrDefault().Photo" alt="">
                        <div class="borderUpDown"></div>
                        <div class="borderSide"></div>
                    </div>


                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="single-banner">
                            <div class="overlay"></div>
                            <div class="img">
                                <img src="~/Uploads/@Model.Adds.Where(a => a.LocationId == 2).FirstOrDefault().Photo" alt="">
                                <div class="borderUpDown"></div>
                                <div class="borderSide"></div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-banner">
                            <div class="overlay"></div>
                            <div class="img">
                                <img src="~/Uploads/@Model.Adds.Where(a => a.LocationId == 3).FirstOrDefault().Photo" alt="">
                                <div class="borderUpDown"></div>
                                <div class="borderSide"></div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="single-banner">
                    <div class="overlay"></div>
                    <div class="img">
                        <img src="~/Uploads/@Model.Adds.Where(a => a.LocationId == 4).FirstOrDefault().Photo" alt="">
                        <div class="borderUpDown"></div>
                        <div class="borderSide"></div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Banner Area -->
<!-- Product Banner -->
<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="product-sidebar">
                    <div class="single-product-sidebar">
                        <div class="title">
                            <h3>Featured Products</h3>
                        </div>
                        @foreach (var Featured in Model.Featured)
                        {
                            <div class="product-wrapper-side">
                                <div class="img float-left">
                                    <a href=@Url.Action("index", "product", new { id = Featured.Id , name=Featured.Name})>
                                        @{
                                            var first = Featured.Photos.Where(p => p.OrderBy == 1).FirstOrDefault().Path;
                                            var second = Featured.Photos.Where(p => p.OrderBy == 2).FirstOrDefault().Path;
                                        }
                                        <img src="~/Uploads/Products/Thumbnail/@first" alt="@Featured.Name" class="primary">
                                        <img src="~/Uploads/Products/Thumbnail/@second" alt="@Featured.Name" class="secondary">
                                    </a>
                                </div>
                                <div class="product-content">

                                    <h4>
                                        <a href="@Url.Action("index", "product", new { id = Featured.Id })">
                                            @Featured.Name
                                        </a>
                                    </h4>
                                    @{
                                        int starCount = 0;
                                        if (Featured.Reviews.Count > 0)
                                        {
                                            starCount = (int)Math.Ceiling((decimal)Featured.Reviews.Average(f => f.Rate));

                                        }

                                    }
                                    <div class="rating">
                                        @for (int i = 0; i < starCount; i++)
                                        {
                                            <i class="fa fa-star"></i>
                                        }

                                    </div>
                                    <div class="price">
                                        @if (Featured.DiscountPrice != null)
                                        {
                                            var discount = Featured.DiscountPrice.Value.ToString("0.00");
                                            <span class="product-price-old">@Featured.Price.ToString("0.00")$ - </span>

                                            <span>@(discount)$</span>
                                        }
                                        else
                                        {
                                            <span>@Featured.Price.ToString("0.00")$</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <div class="product-sidebar">
                    <div class="title">
                        <h3>Get Newsletter</h3>
                    </div>
                    <div class="newsletter">
                        <p>Sign Up for Our Newsletter:</p>
                        <div class="subscribe-form">
                            <form action="">
                                <input type="text" placeholder="Email" name="Email">
                                <button type="submit" name="subscribe">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="product-sidebar">
                    <div class="title">
                        <h3>Popular Tags</h3>
                    </div>
                    <div class="popular-tags">
                        <ul>
                            @{
                                Random r = new Random();
                            }
                            @foreach (var tag in Model.Tags)
                            {

                                int num = r.Next(1, 5);


                                <li>
                                    <a href="" class="tag-size-@num.ToString()">@tag.Name </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
                <div class="single-banner">
                    <div class="overlay"></div>
                    <div class="img">
                        <img src="~/Uploads/@Model.Adds.Where(a => a.LocationId == 6).FirstOrDefault().Photo" alt="">
                        <div class="borderUpDown"></div>
                        <div class="borderSide"></div>
                    </div>


                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="product-area">
                    <div class="product-tab-list">
                        <a href="#home1">
                            <h4>Top Rated</h4>
                        </a>
                        <a href="#home2">
                            <h4> new products</h4>
                        </a>
                        <a href="#home3">
                            <h4>Sale off</h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="home1" class="tab-pane">
                            <div class="product-slider-active owl-carousel">
                                @foreach (var product in Model.TopRated)
                                {
                                    <div class="product-wrapper">
                                        <div class="product-img">
                                            <a href="@Url.Action("index","product",new { id=product.Id , name=product.Name})">
                                                @{
                                                    var first = product.Photos.Where(p => p.OrderBy == 1).FirstOrDefault().Path;
                                                    var second = product.Photos.Where(p => p.OrderBy == 2).FirstOrDefault().Path;
                                                }
                                                <img src="~/Uploads/Products/Thumbnail/@first" alt="@product.Name" class="primary">
                                                <img src="~/Uploads/Products/Thumbnail/@second" alt="@product.Name" class="secondary">

                                            </a>
                                            <div class="quick-view" data-id="@product.Id">
                                                <a href="" data-toggle="modal" data-target="#myModal">Quick view</a>
                                            </div>
                                            @if (product.DiscountPrice != null)
                                            {
                                                <span class="sale-text">Sale</span>
                                            }

                                        </div>
                                        <div class="product-content text-center">
                                            <h4>
                                                <a href="@Url.Action("index","product",new { id=product.Id , name=product.Name})">
                                                    @product.Name
                                                </a>
                                            </h4>
                                            @{
                                                int starCount = 0;
                                                if (product.Reviews.Count > 0)
                                                {
                                                    starCount = (int)Math.Ceiling((decimal)product.Reviews.Average(f => f.Rate));
                                                }


                                            }
                                            <div class="rating">
                                                @for (int i = 0; i < starCount; i++)
                                                {
                                                    <i class="fa fa-star"></i>
                                                }

                                            </div>
                                            <div class="price">
                                                @if (product.DiscountPrice != null)
                                                {
                                                    var discount = product.DiscountPrice.Value.ToString("0.00");
                                                    <span class="product-price-old">@product.Price.ToString("0.00")$</span>
                                                    
                                                    <span>@(discount)$</span>
                                                }
                                                else
                                                {
                                                    <span>@product.Price.ToString("0.00")$</span>
                                                }
                                            </div>
                                            <div class="product-action text-center" data-id="@product.Id">
                                                <a href="" class="add-cart">
                                                    Add to Cart
                                                    <img src="Public/img/cart-2.png" alt="">
                                                </a>
                                                <a href="" data-tooltip="Wishlist" class="wishlist tooltip-coustom">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                         
                                            </div>

                                        </div>
                                    </div>
                                }

                              
                            </div>
                        </div>
                        <div id="home2" class="tab-pane">
                            <div class="product-slider-active owl-carousel">
                                @foreach (var product in Model.NewArrivals)
                                {
                                    <div class="product-wrapper">
                                        <div class="product-img">
                                            <a href="@Url.Action("index","product",new { id=product.Id , name=product.Name})">
                                                @{
                                                    var first = product.Photos.Where(p => p.OrderBy == 1).FirstOrDefault().Path;
                                                    var second = product.Photos.Where(p => p.OrderBy == 2).FirstOrDefault().Path;
                                                }
                                                <img src="~/Uploads/Products/Thumbnail/@first" alt="@product.Name" class="primary">
                                                <img src="~/Uploads/Products/Thumbnail/@second" alt="@product.Name" class="secondary">

                                            </a>
                                            <div class="quick-view" data-id="@product.Id">
                                                <a href="" data-toggle="modal" data-target="#myModal">Quick view</a>
                                            </div>
                                            @if (product.DiscountPrice != null)
                                            {
                                                <span class="sale-text">Sale</span>
                                            }

                                        </div>
                                        <div class="product-content text-center">
                                            <h4>
                                                <a href="@Url.Action("index","product",new { id=product.Id , name=product.Name})">
                                                    @product.Name
                                                </a>
                                            </h4>
                                            @{
                                                int starCount = 0;
                                                if (product.Reviews.Count > 0)
                                                {
                                                    starCount = (int)Math.Ceiling((decimal)product.Reviews.Average(f => f.Rate));
                                                }


                                            }
                                            <div class="rating">
                                                @for (int i = 0; i < starCount; i++)
                                                {
                                                    <i class="fa fa-star"></i>
                                                }

                                            </div>
                                            <div class="price">
                                                @if (product.DiscountPrice != null)
                                                {
                                                    var discount = product.DiscountPrice.Value.ToString("0.00");
                                                    <span class="product-price-old">@product.Price.ToString("0.00")$</span>

                                                    <span>@(discount)$</span>
                                                }
                                                else
                                                {
                                                    <span>@product.Price.ToString("0.00")$</span>
                                                }
                                            </div>
                                            <div class="product-action text-center" data-id="@product.Id">
                                                <a href="" class="add-cart">
                                                    Add to Cart
                                                    <img src="Public/img/cart-2.png" alt="">
                                                </a>
                                                <a href="" data-tooltip="Wishlist" class="wishlist tooltip-coustom">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                          
                                            </div>

                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div id="home3" class="tab-pane">
                            <div class="product-slider-active owl-carousel">
                                @foreach (var product in Model.SaleOff)
                                {
                                    <div class="product-wrapper">
                                        <div class="product-img">
                                            <a href="@Url.Action("index","product",new { id=product.Id , name=product.Name})">
                                                @{
                                                    var first = product.Photos.Where(p => p.OrderBy == 1).FirstOrDefault().Path;
                                                    var second = product.Photos.Where(p => p.OrderBy == 2).FirstOrDefault().Path;
                                                }
                                                <img src="~/Uploads/Products/Thumbnail/@first" alt="" class="primary">
                                                <img src="~/Uploads/Products/Thumbnail/@second" alt="" class="secondary">

                                            </a>
                                            <div class="quick-view" data-id="@product.Id">
                                                <a href="" data-toggle="modal" data-target="#myModal">Quick view</a>
                                            </div>
                                            @if (product.DiscountPrice != null)
                                            {
                                                <span class="sale-text">Sale</span>
                                            }

                                        </div>
                                        <div class="product-content text-center">
                                            <h4>
                                                <a href="@Url.Action("index","product",new { id=product.Id , name=product.Name})">
                                                    @product.Name
                                                </a>
                                            </h4>
                                            @{
                                                int starCount = 0;
                                                if (product.Reviews.Count > 0)
                                                {
                                                    starCount = (int)Math.Ceiling((decimal)product.Reviews.Average(f => f.Rate));

                                                }

                                            }
                                            <div class="rating">
                                                @for (int i = 0; i < starCount; i++)
                                                {
                                                    <i class="fa fa-star"></i>
                                                }

                                            </div>
                                            <div class="price">
                                                @if (product.DiscountPrice != null)
                                                {
                                                    var discount = product.DiscountPrice.Value.ToString("0.00");
                                                    <span class="product-price-old">@product.Price.ToString("0.00")$</span>

                                                    <span>@(discount)$</span>
                                                }
                                                else
                                                {
                                                    <span>@product.Price.ToString("0.00")$</span>
                                                }
                                            </div>
                                            <div class="product-action text-center" data-id="@product.Id">
                                                <a href="" class="add-cart">
                                                    Add to Cart
                                                    <img src="Public/img/cart-2.png" alt="">
                                                </a>
                                                <a href="" data-tooltip="Wishlist" class="wishlist tooltip-coustom">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                             
                                            </div>

                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-banner " style="margin-bottom: 38px;">
                    <div class="overlay"></div>
                    <div class="img">
                        <img src="@Model.Adds.Where(a => a.LocationId == 5).FirstOrDefault().Photo" alt="">
                        <div class="borderUpDown"></div>
                        <div class="borderSide"></div>
                    </div>


                </div>
                <div class="product-area ">
                    <div class="row">
                        <div class="col-lg-12 col-xl-8 col-md-12">
                            <div class="title">
                                <h3>New Products</h3>
                            </div>
                            <div class="row">

                                @foreach (var product in Model.NewArrivals)
                                {
                                <div class="col-lg-4 col-md-6 col-sm-6 mb-12">
                                    <div class="product-wrapper">
                                        <div class="product-img">
                                            <a href="@Url.Action("index","product",new { id=product.Id , name=product.Name})">
                                                @{
                                                    var first = product.Photos.Where(p => p.OrderBy == 1).FirstOrDefault().Path;
                                                    var second = product.Photos.Where(p => p.OrderBy == 2).FirstOrDefault().Path;
                                                }
                                                <img src="~/Uploads/Products/Thumbnail/@first" alt="@product.Name" class="primary">
                                                <img src="~/Uploads/Products/Thumbnail/@second" alt="@product.Name" class="secondary">

                                            </a>
                                            <div class="quick-view" data-id="@product.Id">
                                                <a href="" data-toggle="modal" data-target="#myModal">Quick view</a>
                                            </div>
                                            @if (product.DiscountPrice != null)
                                            {
                                                <span class="sale-text">Sale</span>
                                            }

                                        </div>
                                        <div class="product-content text-center">
                                            <h4>
                                                <a href="@Url.Action("index","product",new { id=product.Id , name=product.Name})">
                                                    @product.Name
                                                </a>
                                            </h4>
                                            @{
                                                int starCount = 0;
                                                if (product.Reviews.Count > 0)
                                                {
                                                     starCount = (int)Math.Ceiling((decimal)product.Reviews.Average(f => f.Rate));

                                                }

                                            }
                                            <div class="rating">
                                                @for (int i = 0; i < starCount; i++)
                                                {
                                                    <i class="fa fa-star"></i>
                                                }

                                            </div>
                                            <div class="price">
                                                @if (product.DiscountPrice != null)
                                                {
                                                    var discount = product.DiscountPrice.Value.ToString("0.00");
                                                    <span class="product-price-old">@product.Price.ToString("0.00")$</span>

                                                    <span>@(discount)$</span>
                                                }
                                                else
                                                {
                                                    <span>@product.Price.ToString("0.00")$</span>
                                                }
                                            </div>
                                            <div class="product-action text-center" data-id="@product.Id">
                                                <a href="" class="add-cart">
                                                    Add to Cart
                                                    <img src="Public/img/cart-2.png" alt="">
                                                </a>
                                                <a href="" data-tooltip="Wishlist" class="wishlist tooltip-coustom">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                          
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                        }
                                   

                                </div>
                        </div>
                        <div class="col-lg-12 col-xl-4 col-md-12">
                            <div class="custom-block">
                                <div class="title">
                                    <h3>Custom Block</h3>
                                </div>
                                <div class="custom-back">
                                    <div class="row">
                                        @foreach (var add in Model.Adds.Where(a => a.LocationId == 7).ToList())
                                        {
                                            <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6">
                                                <div class="single-banner-2">
                                                    <a href="@add.Url">
                                                        <img src="~/Uploads/@add.Photo" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        }

                          
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Product Banner -->